a {
  text-decoration: none;
  color: #333;
}
 .auth-item li{
  list-style: none;
 }
 .active {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  background-color: #fff;
  color: #0258FF;
}

.text-link {
  text-decoration: none;
  color: #333;
}

.logo a {
  text-decoration: none;
}

.pointer {
  cursor: pointer;
}

.border-none {
  border: none;
}

.card-button {
  border-radius: 0;
}

.hoverable:hover {
  border-right: 5px solid #fff;
  border-bottom: 5px solid #fff;
  border-radius: 12px;
}

.nav--link {
  color: #fff;
}

.nav--link:active {
  background-color: #fff;
  color:#0258FF;
}

.form-control {
  -webkit-box-shadow: none !important;
  outline: -webkit-focus-ring-color auto 0px !important;
}

.jumbotron {
  width: 30wh;
  height: 30vh;
  color: #fff;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
}

.footer-logo h1 {
  font-weight: 700;
  color: #0258FF;
  margin: 0 auto;
}

.footer-items {
  margin: 12px;
}

.footer-items ul {
  list-style: none;
  padding: 0;
}

.icon {
  width: 40px;
  height: 40px;
  margin: 8px;
}

.icon-prev,
.icon-next {
  border-radius: 30px;
}
 
@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
 
@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
 
@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}